* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: black;
    color: #ffffff;
    
    header {
        display: flex;
        align-items: center;
        padding: 7px;
        background-color: #9747ff19;

        img {
            width: 80px;
            height: 80px;
            background-color: #9747ff6c;
            border-radius: 50px;
        }

        h1 {
            font-size: 1.5rem;
            margin-left: 20px;
            color: #ffffff;
            margin-left: 20px;
            font-family: 'Unbounded', sans-serif;
        }

        nav {
            margin-left: auto;
            display: flex;
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 17px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #9747ff;
                    }
                }
            }
        }
    }

    main {

        section {

            h2 { 
                font-family: 'Unbounded', sans-serif;
                font-size: 50px;
                span {
                    color: #9747ff;
                }
            }

            p {
                font-size: 18px;
                margin-top: 20px;
                line-height: 1.6;
                font-family: "poppins", sans-serif;
            }
        }
    }

}
